/* Enter your custom styles here */


.myCustomText {
  font-weight: bold;
  font-size: 5rem !important;
  align-content: center;
  padding: 1rem;
}
.myCustomText2 {
  font-weight: bold;
  font-size: 30px !important;
  padding: 1rem;
}
.customTextlogin{
    color: aliceblue;
    font-weight: bold;
  font-size: 20px !important;
  padding: 1rem;
}

.customTextDark{
    color: rgb(4, 25, 44);
    font-weight: bold;
  font-size: 20px !important;
  padding: 1rem;
}

/*
HARI
*/

.sapMLabel {
    text-align: end!important;
    float: none;
    position: relative;
    width: 250px;
}
.sapMLabelCombo {
    text-align: end!important;
    float: none;
    position: relative;
    width: 180px;
}
.sapMButton {
    text-align: end!important;
    float: none;
    position: relative;
    width: 120px;
}